<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乘客选择</title>
    <script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.js"></script>
    <script src="https://cdn.staticfile.org/vue/3.0.5/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../myCSS/buy.css" type="text/css">
</head>
<body>
<div id="app">
    <div class="presonChooise">
        <div class="spanDiv">
            <span>乘客选择</span>
        </div>
        <form action="/buy" method="post">
            <div class="presonList" id="presonList">
                <input type="text" id="serialNumber" name="serialNumber" style="display: none">
                <input type="text" id="ticketType" name="ticketType" style="display: none">
            </div>
            <div class="listSubmit">
                <input type="submit" value="确认购买" class="button">
            </div>
        </form>
    </div>
</div>

<script>
    //返回的数据
    let resMes
    $(document).ready(
        function (){
            axios.post("http://localhost:8080/passengersList")
            .then(function (response){
                console.log(response)
                resMes = response.data
                //返回人员个数
                let len = resMes.length
                //获取div父元素
                let lists = document.getElementById("presonList");
                for(let i=1;i<=len;i++){
                    let div = document.createElement("div")
                    div.className="list"
                    div.innerHTML="<label><input type=\"checkbox\" name='passengersId' value='"+resMes[i-1].passengersId+"'><span>"+resMes[i-1].passengerName+"</span><span>"+resMes[i-1].passengersId+"</span></label>"
                    lists.appendChild(div)
                    console.log()
                }
            })
            .catch(error=>{
                alert("有错误");
                console.log(error);
            })
        }
    )
    let path = location.search.split("?")[1]
    let prames = (path||'').split('&')
    let obj = {}
    for (let i = 0; i < prames.length; i++) {
        let k = prames[i].split('=')
        obj[k[0]] = k[1];
    }
    $("#serialNumber").val(obj['serialNumber'])
    $("#ticketType").val(obj['ticketType'])
    console.log(obj)
</script>
</body>
</html>